html,body {
	font-family: proxima-nova, sans-serif;
	/*font-family: 'Philosopher', sans-serif;*/
   height: 100%;
   width: 100%;
   margin: 0;
   background-color: #fafafc;

}

div{
	margin: 0 auto;
}

div.opener {
	background-image: url("../img/walking_feathered.jpg");
	background-size: cover;
	background-position: 10% 50%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;

}


div.opener h1 {
	padding-top: 10px;
	font-size: 4em;
	font-family: 'Philosopher', sans-serif;
	text-align: center;
	margin: 0;
}

div.opener h2 {
	font-size: 2em;
	font-family: 'Philosopher', sans-serif;
	text-align: center;
	margin-top: 0px;
}

div.opener h4 {
	font-size: 1.2em;
	font-family: 'Philosopher', sans-serif;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 15px;
}

div.introText, div.closingText {
	position: relative;
	margin: 0;
	background-color: #fafafc;
	padding: 50px 0;

}

p {
	font-size: 18px;
	padding: 0 5px;
	margin: 25px auto;
	max-width: 650px;
	position: relative;

}

.firstCharacter {
	float: left;
	font-size: 75px;
  	line-height: 50px;
  	padding-top: 4px;
  	padding-right: 8px;
  	padding-left: 3px;
}

div.outer{
	width: 100%;
	height: 100%;
	background-color: #555;
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div.map{
	width: 100%;
	height: 100%;
	position: relative;
/*	background-image: url("../img/hs_light.jpg");
	background-size: cover;
	background-position: 50% 50%;*/
	background-color: #ebeced;
	max-height: 104.52vw;
	max-width: 95.68vh;
}

div.map p {
	position: absolute;
	transform: translate(-50%,-50%);
	font-size: 10px;
	font-weight: bold;
}

.municipio {
	fill: #555;
	stroke: #555;
	stroke-width: 0.2px;
	opacity: 0.2;
	stroke-opacity: 0;
}

.country {
	fill: #555;
	stroke: #fff;
	stroke-width: 1px;
	opacity: 0.2;
	stroke-opacity: 1;

}

div.closingText p {
	background-color: #ecedd3;
}

img.temp {
	width: 100%;
	height: auto;
	max-width: 800px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

h4.toggle {
	font-family: proxima-nova, sans-serif;
	font-size: 16px;
	text-align: center;
	font-weight: normal;
	cursor: pointer;
}

h4.toggle .active {
	font-weight: bold;
}

.highlight {
  stroke-opacity: 1;
}

.dehighlight {
  stroke-opacity: 0.05;
}

div.graphic-container {
	width: 100%;
	height: 95%;
	max-width: 700px;
	margin: 0 auto;
	position: relative;
}

div.graphic-container svg {
	position: absolute;
	left: 0;
	top: 0;
}

.states,.municipios {
	fill: #e1ecf5;
	stroke: #fff;
	stroke-width: 0.75px;
}

text {
font-family: proxima-nova, sans-serif;

}

h3 {
	font-family: proxima-nova, sans-serif;
	text-decoration: underline;
	max-width: 650px;
	margin: 25px auto;
	text-align: center;
}

